@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
}

.container{
    width: 37.5rem;
    margin: 25% auto;
    background-color: #fff;
    padding: 3rem;
    border-radius: 25px;
    -webkit-box-shadow: 0px 19px 25px 0px rgba(150,150,150,0.58);
    -moz-box-shadow: 0px 19px 25px 0px rgba(150,150,150,0.58);
    box-shadow: 0px 19px 25px 0px rgba(150,150,150,0.58);
}

.img {
    width: 100%;
    border-radius: 25px;
}

.container__text{
    text-align: center;
    margin: 2.5rem 0;
}

.heading{
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: hsl(218, 44%, 22%);
}

.main-text{
    font-size: 1.4rem;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}

.attribution{
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1rem;
}